<style>
	.header{
	    background-image:url("{{ BANNER_IMG }}");
	}
</style>
<header id="top" class="header">
	<div class="text-vertical-center">
		<h1 class="logo">
			{% if BANNER_LOGO %}<img src="{{ BANNER_LOGO }}" width="50px" height="50px" alt="{{ BANNER_TITLE }}" class="img-circle">{% endif %}
			{{ BANNER_TITLE }}
		</h1>
		{% if BANNER_SUBTITLE %}
			<h2 class="logo-tagline">{{ BANNER_SUBTITLE }}</h2>
		{% endif %}
		<br>
		<a href="{{ BANNER_LINK }}" class="btn btn-dark btn-lg">{{ BANNER_LINK_LABEL }}</a>
	</div>
</header>