{% extends "base.html" %}
{% block title %}Archives - {{ SITENAME }}{% endblock %}
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="active">Archives</li>
    </ol>
    {% endif %}
{% endblock %}

{% block banner %}
    {% set BANNER_LOGO=False %}
    {% set BANNER_LINK=DEFAULT_BANNER_LINK %}
    {% set BANNER_LINK_LABEL=DEFAULT_BANNER_LINK_LABEL %}
    {% set BANNER_SUBTITLE="Todos os artigos" %}
    {% include 'includes/banner.html' %}
{% endblock %}

{% block content %}
    <section id="content">
        <div id="archives">
            {% for article in dates %}
                <article>
                    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                    {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                        <div class="well well-sm">
                            {% include "includes/article_info.html" %}
                        </div>
                    {% endif %}
                    <div class="summary">{{ article.summary }}
                        {% include 'includes/comment_count.html' %}
                        <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">mais ...</a>
                    </div>
                </article>
                <hr/>
            {% endfor %}
        </div>
    </section>
{% endblock %}
